/*  */
body {
  font-family: Verdana, Arial;
  font-size: 16px;
}

/* index.html */
h1 {
  text-align: center;
}

/* recipes */
img {
  height: auto;
  width: 300px;
}

.block {
  border: 1px solid black;
  width: 300px;
  height: 150px;
  margin: 0 auto;
}